
<div class="col-sm-6" >
    <div class="LoginRight">
        <form [formGroup]="formGroup"> 
            <div class="form-group">
                <label>Website Url</label>
                <input  formControlName="url" type="url" class="form-control" placeholder="Enter email" >
            </div>
            <div class="text-danger"
            *ngIf="(formGroup.get('url')?.hasError('required') && (formGroup.get('url')?.dirty))|| (formInvalid && !this.formGroup.value.email)">
            *Url is required
            </div>
            <div class="text-danger"
            *ngIf="(formGroup.get('url')?.hasError('pattern') && (formGroup.get('url')?.dirty))|| (formInvalid && !this.formGroup.value.email)">
            *Please Enter valid url 
            </div>
            <button (click)="submitForm()" >Sign In</button>
        </form> 
    </div>
</div>







<!--  -->
<div id="brandData">
<div class="container">
<form>
    <div class="col-sm-6">
     <div> <label for="name">Brand Website:</label></div>
      <input type="text" id="name" name="name" [(ngModel)]="brandWeb" required>
    </div>
  
    <div class="col-sm-6" >
     <div> <label for="email">Brand Name:</label></div>
      <input type="email" id="email" name="email" [(ngModel)]="brandName" required>
    </div>

    <div>
       <div> <label for="name">Brand Logo:</label></div>
    <input type="file" (change)="onFileSelected($event)">
    <div *ngIf="imageSrc">
      <img [src]="imageSrc" alt="Preview Image" />
    </div>
    </div>

    <div>
        <div> <label for="name">Logo Color</label></div>
        <input type="color" [(ngModel)]="selectedColorFst">
        <input type="color" [(ngModel)]="selectedColorSnd">
    </div>
        
    <div>
        <div> <label for="message">Description:</label> </div>
      <textarea id="message" name="message" [(ngModel)]="description"  required></textarea>
    </div>
  
    <div>
        <div> <label for="additionalInfo">Brand Keyword:</label> </div>
      <textarea id="additionalInfo" name="additionalInfo" [(ngModel)]="keywords" required></textarea>
    </div>
    
    <div>
    <div> <label for="category">Typography:</label></div>
      <select id="category" name="category"  required>
      <option value="">Select Category</option>
        <option *ngFor="let option of typography" [value]="option">{{ option.tagName }}</option>
    </select>
    </div>

    </form>
  </div>
  </div>