@charset "utf-8";
/* CSS Document */
 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
    color: #3a3a3a;
    font-weight: 400; 
    position: relative;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 
 
::-webkit-scrollbar-track {
  background: #fffbfb;
  border-radius: 20px;
}
   
::-webkit-scrollbar-thumb {
  background: #347df3;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clr,
.clear {
    clear: both;
}

header,
footer,
aside,
article,
section,
detail,
nav,
figure {
    position: relative;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none !important;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

img {
    border: 0;
    outline: none;
    max-width: 100%;
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
    max-width: 100%;
}

table {  width: 100%; }
p { margin: 0; padding: 0; }
.fltL { float: left; }
.fltR { float: right !important; }
.padding_none { padding: 0 !important;}
.border_none{border:none !important}
.navbar-toggle {  background-color: #fff !important; }
.icon-bar { background-color: #000 !important; }
.p_right0{ padding-right:0px !important }
.p_left0{ padding-left:0px !important } 
input[type=date].form-control{ text-transform: uppercase !important; }
select{cursor: pointer;outline: 0;}
/*
:not(label){
    background: red;
}              
*/
/*label:only-of-type{ background-color: red; }*/
         
/*label:empty{ color: red; }*/
      
label { color: --blue; }
first-child{}
first of child{}

.Radio{display:block;position:relative;padding-left:35px;margin-bottom:12px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.Radio input{position:absolute;opacity:0;cursor:pointer}
.Radio .checkmark{position:absolute;top:0;left:0;height:22px;width:22px;background-color:#fff;border-radius:50%;border:1px solid #d0cfd8}
.Radio:hover input~.checkmark{background-color:#ccc}   
.Radio input:checked~.checkmark{border-color:#85d8d9;background-color:#85d8d9}
.Radio .checkmark:after{content:"";position:absolute;display:none}
.Radio input:checked~.checkmark:after{display:block}
.Radio input:checked~.checkmark2:after{display:block}
.Radio .checkmark:after{width:12px;height:12px;border-radius:50%;background:#fff;top:0;left:0;bottom:0;right:0;margin:auto}
 
.CheckBox{display:block;position:relative;padding-left: 35px;margin:0;cursor:pointer;font-size:17px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;min-height: 25px;font-weight:500;}
.CheckBox input{position: absolute; opacity: 0; cursor: pointer; height: 25px; width: 25px; z-index: 2; left: 0;}
.CheckBox .checkmark{position:absolute;top:0;left:0;height: 25px;width: 25px;background-color:#fff;border:1px solid #ddd;border-radius:5px;}
.CheckBox:hover input~.checkmark{background-color:#ccc}
.CheckBox input:checked~.checkmark{background-color: #50a953;border-color: #50a953;}
.CheckBox .checkmark:after{content:"";position:absolute;display:none}
.CheckBox input:checked~.checkmark:after{display:block}
.CheckBox .checkmark:after{left:10px;top: 4px;width: 5px;height: 12px;border:solid #fff;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform: rotate(51deg);}

.Switch{position:relative;display:inline-block;width:60px;height:30px;margin:0}
.Switch input{opacity:0;width:0;height:0}
.Switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#D8D8D8;-webkit-transition:.4s;transition:.4s;border-radius:50px}
.Switch .slider:before{position:absolute;content:"";height:22px;width:22px;left:4px;bottom:4px;background-color:#fff;-webkit-transition:.4s;transition:.4s;border-radius:50%}
.Switch input:checked+.slider{background-color:#FF792C}
.Switch input:focus+.slider{box-shadow:0 0 1px #2196F3}
.Switch input:checked+.slider:before{-webkit-transform:translateX(30px);-ms-transform:translateX(30px);transform:translateX(30px)}



.LoginArea{background-color:#eff7f8;padding:0 0;min-height:100vh;display:flex;align-items:center}
.LoginArea .LoginBox{position:relative}
.LoginArea .LoginBox:after{content:'';position:absolute;content:"";top:0;bottom:0;left:0;right:270px;z-index:0;border-radius:40px;background:#31a952}
.LoginArea .LoginLeft{position:relative;z-index:2;padding:85px 100px;text-align:center}
.LoginArea .LoginLeft .LoginLogo{margin:0 0 40px 0;text-align:center}
.LoginArea .LoginLeft .LoginLogo img{filter:brightness(0) invert(1);width:170px}
.LoginArea .LoginLeft figure{border-radius:15px;overflow:hidden;margin:0 0 20px 0}
.LoginArea .LoginLeft h4{color:#fff;font-size:20px;margin:0 0 10px 0}
.LoginArea .LoginLeft p{font-size:14px;color:#fff;line-height:25px}
.LoginArea .LoginRight{background-color:#fff;padding:40px 60px;border-radius:37px;position:relative;z-index:2}
.LoginArea .LoginRight h3{font-size:30px;text-transform:capitalize;margin:0 0 10px 0}
.LoginArea .LoginRight p{font-size:14px;font-weight:400;color:#888}
.LoginArea .LoginRight form{margin:15px 0 0 0}
.LoginArea .LoginRight form .form-group{margin:0 0 20px 0}
.LoginArea .LoginRight form .form-group label{font-weight:500;color:#5a5a5a;font-size:14px;display:block}
.LoginArea .LoginRight form .form-group .form-control{box-shadow:none;border:1px solid #d4d4d4;border-radius:4px;padding:10px 20px;font-size:14px;height:auto}
.LoginArea .LoginRight form .form-group .Checkboxs{display:flex;justify-content:space-between;align-items:center}
.LoginArea .LoginRight form .form-group .Checkboxs a{color:#615e5e;text-transform:capitalize;font-weight:500}
.LoginArea .LoginRight form .form-group .Checkboxs label{display:inline-block}
.LoginArea .LoginRight form button{background-color:#50a953;border:none;padding:12px 35px;color:#fff;font-size:15px;border-radius:6px;font-weight:500;outline:0}

.WrapperArea{margin-left:235px;flex:1 1 auto;width:calc(100% - 235px);display:flex;flex-direction:column;margin-top:60px;transition:0.5s all ease-in-out}
.WrapperArea .WrapperBox{padding:35px;background-color: #efefef;min-height:calc(100vh - 60px);}
.Small-Wrapper{background-color:#fff;padding:25px;border:1px solid #dcdcdc}

h4.Title { margin: 0 0 15px 0; font-weight: 600; color: #000; text-transform: capitalize; font-size: 22px; font-family: "Roboto"; }
                      
.LocationSelection{display:flex;justify-content: space-between;margin: 0 0 15px 0;align-items: center;}
.LocationSelection select{border:1px solid #ddd;padding:10px 20px 10px 10px;border-radius:5px;outline:0;cursor:pointer;font-family:"Roboto";font-size:15px;font-weight:400}
.LocationSelection h4 { margin: 0; }
.LocationSelection h4+p{ font-size: 13px; font-weight: 500; font-family: 'Roboto'; margin: 3px 0 0 0;}
.LocationSelection .LinkBox .Add{border:none;padding:10px 20px;transition:0.5s all ease-in-out;font-weight:400;display:inline-block;background-color:#50a953;font-size:14px;color:#fff;border-radius:5px}
.LocationSelection .LinkBox .Download{border:none;padding:10px 20px;transition:0.5s all ease-in-out;font-weight:400;display:inline-block;background-color:#31415e;font-size:14px;color:#fff;border-radius:5px;margin:0 0 0 5px}

.TitleBox{display:flex;align-items:center;justify-content:space-between;margin:0 0 20px 0}
.TitleBox h4.Title{margin:0}
.TitleBox a.Export{border:none;padding:10px 20px;transition:0.5s all ease-in-out;font-weight:400;display:inline-block;font-size:14px;color:#fff;border-radius:5px;background-color:#347df3}
.TitleBox a.Export:hover{background-color:#50a953}
.TitleBox a.Export i{margin-right:5px}

.Header{box-shadow:0 2px 4px rgba(0,0,0,.08);-webkit-box-shadow:0 2px 4px rgba(0,0,0,.08);position:fixed;width:100%;left:0;top:0;background-color:#fff;z-index:99}
.Header .Logo{width:235px;background-color: #fff;text-align:center;padding: 12px 0;float:left;height:60px;}
.Header .Logo img{width: 180px;}
.Header .Navigation{transition:all 0.2s ease;margin-left:235px;padding:7px 3.2rem;width:calc(100% - 235px);text-align:right;height:60px}
.Header .Navigation .Avater{margin:5px 0 5px 30px;position:relative;display:inline-block}
.Header .Navigation .Avater a{display:flex;align-items:center;font-size:14px;color:#000}
.Header .Navigation .Avater a figure{width:35px;border-radius:50%;margin:0 15px 0 0;overflow:hidden}
.Header .Navigation .Avater ul{right:0;left:auto;top:100px;border:none;padding:0;margin:0;min-width:200px;opacity:0;visibility:hidden;transition:0.5s all ease-in-out;position:absolute;box-shadow:0 1px 4px #ddd;background-color:#fff}
.Header .Navigation .Avater ul li{margin:0;border-bottom:1px solid #d2d3d4}
.Header .Navigation .Avater ul li:first-child{background-image:linear-gradient(45deg,#05899b,#04bad2);position:relative;padding:15px 10px 15px 60px;text-align:left;border-bottom:1px solid #fff}
.Header .Navigation .Avater ul li figure{width:35px;height:35px;border-radius:50%;position:absolute;top:15px;left:15px;border:2px solid #fff;overflow:hidden}
.Header .Navigation .Avater ul li h4{color:#fff;font-size:17px;line-height:18px}
.Header .Navigation .Avater ul li h4 span{font-size:11px;font-weight:400}
.Header .Navigation .Avater ul li a{color:#4e4e4e;padding:10px 20px;font-weight:400;transition:0.5s all ease-in-out}
.Header .Navigation .Avater ul li a span{margin:0 10px 0 0}
.Header .Navigation .Avater ul li a:hover{background-color:#58595b;color:#fff}
.Header .Navigation .Avater:hover ul{opacity:1;visibility:visible;top:115%}

.SidenavBar{height:calc(100% - 60px);position:fixed;width:235px;top:60px;padding:0;overflow:auto; background: #ffffff;}
.SidenavBar ul{margin:0;padding: 10px 0 0 0px;}
.SidenavBar ul li{margin:0 0 10px 0}
.SidenavBar ul li a { display: block; cursor: pointer; padding: 17px 20px 17px 50px; transition: 0.5s all ease-in-out; color: #b7b7b7; font-size: 14px; text-transform: capitalize; position: relative; border-radius: 0; font-weight: 500; border-right: 4px solid #ddd;}  
.SidenavBar ul li a span{font-size: 15px; display: inline-block; position: absolute; top: 17px; left: 22px; width: 18px; filter: brightness(0); opacity: 0.4;}
.SidenavBar ul li:nth-child(2) a span{ width: 30px; top: 13px; left: 15px; }
.SidenavBar ul li .dropdown-menu{ transform: inherit !important; position: relative !important; margin: 10px 0 0 0; padding: 0; border: none; width: 100%; background-color: transparent; float: none; }
.SidenavBar ul li .dropdown-menu li a { padding: 15px 20px 15px 60px; background-color: transparent; color: #b7b7b7 !important; border-right: none;}
.SidenavBar ul li .dropdown-menu li a:hover,
.SidenavBar ul li .dropdown-menu li.active a{ color: #000 !important; }

/*.SidenavBar ul li.active .dropdown-menu li a { color: #000; background-color: transparent}
.SidenavBar ul li.active .dropdown-menu li a:hover{ color: #000 !important; }
*/
.SidenavBar ul li.active a,     
.SidenavBar ul li a:hover{ color: #347df3; background-color: rgb(52 125 243 / 5%); border-color: #347df3;}
.SidenavBar ul li a:hover span,
.SidenavBar ul li.active a span{ filter: inherit; opacity: 1;  }

.Dashboard .DashboardCount{margin:0 0 25px 0; position: relative; background-color:#fff;padding:25px 20px;border-radius:10px;border:1px solid #ddd}
.Dashboard .DashboardCount .Icon{ position: absolute; top: 25px; right: 20px; width: 50px;}
.Dashboard .DashboardCount h6{font-size: 17px; font-family: 'Roboto';}
.Dashboard .DashboardCount p{ font-size: 45px; font-weight: 800; font-family: 'Roboto'; }
  
.Dashboard .DashboardCount.Total{border-left: 4px solid #5187e8; color: #5187e8; }
.Dashboard .DashboardCount.Negative{border-left: 4px solid #1fb331; color: #1fb331}
.Dashboard .DashboardCount.Waiting{border-left: 4px solid #e6b442; color: #e6b442;}
.Dashboard .DashboardCount.Positive{border-left: 4px solid #d05e32; color: #d05e32;}
  
.TableList table{border:1px solid #dcdcdc}
.TableList table tr:nth-child(even){background-color:#f5f2f2}
.TableList table tr:hover{background:#c7c7c7}
.TableList table tr th,
.TableList table tr td{padding:10px 10px}
.TableList table tr th{background-color:#dcdcdc;font-weight:600;text-transform:capitalize;color:#000;font-size:14px;}
.TableList table tr td{font-weight:500;color:#404040}
.TableList table tr th .CheckBox,
.TableList table tr td .CheckBox{ display: inline-block; }
.TableList table tr td a:hover{color:#000}
.TableList table tr td:last-child a{color:#545454;margin:0 5px;font-size:14px;display:inline-block} 
.TableList table tr td figure{width:50px;height:50px;border-radius:50%;border:2px solid #00a9a7;overflow:hidden}
.TableList table tr td figure img{width:100%;height:100%}
.TableList table tr td span{padding:4px 10px;color:#fff;border-radius:5px;width:auto;display:block;text-align:center;font-size:12px}
.TableList table tr td a.Map{ border: none; padding: 9px 20px; transition: 0.5s all ease-in-out; font-weight: 400; background-color: #31415e; font-size: 12px; color: #fff; border-radius: 5px; }

.TableList table tr td a.Green{ color: #37a713; }
.TableList table tr td a.Red{ color: #e21818; }
.TableList table tr td a.Blue{ color: #139bbf; }
.TableList table tr td a.Yellow{ color: #feca05; }

.TableList table tr td span.green{ background-color: #37a713 }
.TableList table tr td span.blue{ background-color: #139bbf }
.TableList table tr td span.red{ background-color: #bb0f0f }
.TableList table tr td span.orange{background-color: #df9919;}

.Pagination{margin:30px 0 0 0;display: flex;align-items: center;justify-content: space-between;}
.Pagination p{ font-weight: 500; color: #000; }
.Pagination ul{text-align:right}
.Pagination ul li{display:inline-block;margin:0 2px;text-align:center}
.Pagination ul li a{padding: 0px 0;border: 2px solid #ddd;width: 35px;height: 35px;display:block;font-size: 14px;color:#656363;border-radius: 50%;font-weight: 500;line-height: 32px;}
.Pagination ul li a:hover{background-color:#d4d4d4}
.Pagination ul li.active a{border-color: #50a953;background-color: #50a953;color:#fff;}

.Filter{display:flex}
.Filter .form-group{margin:0 15px 20px 0!important;display:inline-block}
.Filter .form-group:last-child{margin:0 0 20px 0!important}
.Filter .form-group label{display:block;font-weight:500;font-size:15px;color:#000;font-family:"Roboto";text-transform:capitalize}
.Filter .form-group .form-control{height:40px;line-height:25px;padding:8px 10px;border:1px solid #ddd;font-size:14px;font-weight:400;text-transform:capitalize;margin:0 10px 0 0;box-shadow:none;color:#000;border-radius:5px}
.Filter .form-group .Button{border:none;padding:9px 20px;transition:0.5s all ease-in-out;font-weight:400;display:inline-block;background-color:#31415e;font-size:14px;color:#fff;border-radius:5px;margin:0 0 0 5px}
.Filter .form-group .Button.Reset{background-color:#dcdcdc;color:#000}

.CommonTabs .nav-tabs{border:none;margin:0 0 25px 0}
.CommonTabs .nav-tabs li{margin:0 15px 0 0}
.CommonTabs .nav-tabs li a{background-color:#d0cece;border-radius:0;padding:11px 35px;border:none!important;color:#000;font-weight:500;cursor:pointer;text-transform:capitalize;margin:0;font-size:14px;display:block}
.CommonTabs .nav-tabs li a.active{background-color:#50a953;color:#fff}

.FormArea .FormBox{background-color:#f1f1f1;font-family:"Roboto"}
.FormArea .FormBox h4{margin:0 0 0 0;font-weight:500;color:#000;text-transform:capitalize;font-size:20px;border-bottom:1px solid #e8e7e7;padding:17px 30px}
.FormArea form{padding:25px}
.FormArea form .form-group{margin:0 0 20px 0;min-height:71px}
.FormArea form .form-group .CheckBox{display:inline-block;margin:10px 0 0 0;width:23%}
.FormArea form .form-group label{font-size:15px;color:#3c3c3c;text-transform:capitalize;font-weight:500;display:block}
.FormArea form .form-group label sup{font-size:18px;top:0;color:#c10b0b;font-weight:700}
.FormArea form .form-group label span{font-size:12px;color:#949494}
.FormArea form .form-group .form-control{margin:0 0 0;border:1px solid #ddd;box-shadow:none;border-radius:5px;height:auto;font-size:14px;min-height:45px;padding:9px 15px;line-height:20px}
.FormArea form .form-group textarea.form-control{height:auto}.IDPreview{border:4px solid #fff;box-shadow:0 0 10px #ddd}
.FormArea form h6{padding: 15px 0 15px 25px; margin: 0 -25px 15px -25px; background-color: #ddd;}
.FormArea form .form-group .Role { display: inline-block; font-size: 14px; font-weight: 500; color: #171717; margin: 10px 0 0 0; text-decoration: underline; font-style: italic; letter-spacing: 0.5px; }

.ButtonBox button.Button{border:none;padding:10px 30px;transition:0.5s all ease-in-out;font-weight:400;display:inline-block;background-color:#50a953;font-size:14px;color:#fff;border-radius:5px; margin-right: 5px; outline: 0;}
.ButtonBox button.Cancel{background-color:#31415e; outline: 0;}
             
.RapidArea .RapidBox{border:1px solid #eae9e9;border-radius:5px}
.RapidArea .RapidBox+.RapidBox{margin-top:20px}
.RapidArea .RapidBox .RapidHead{background-color:#eae9e9;padding:13px 20px;display:flex;align-items:center;justify-content:space-between}
.RapidArea .RapidBox .RapidHead p{font-size:16px;font-weight:600;color:#000}
.RapidArea .RapidBox .RapidHead a.Print{color:#fff;border-radius:5px;background-color:#50a953;padding:7px 20px}
.RapidArea .RapidBox .RapidBody{padding:15px;display:flex;justify-content:space-between}
.RapidArea .RapidBox .RapidBody .form-group{margin:0 0 20px;position:relative}
.RapidArea .RapidBox .RapidBody .form-group label{display:block;font-weight:500;color:#000;font-size:15px;font-family:"Roboto";text-transform:capitalize}
.RapidArea .RapidBox .RapidBody .form-group .form-control{box-shadow:none;border:1px solid #c3c3c3;height:40px;font-size:14px;color:#000;line-height:22px;font-weight:400;font-family:"Roboto"}
.RapidArea .RapidBox .RapidBody .RapidLeft p{font-family:'Roboto';margin:0 0 10px 0}
.RapidArea .RapidBox .RapidBody .RapidLeft p label{margin:0 15px 0 0;font-size:15px;font-weight:500;color:#000;display:inline-block;min-width:160px;position:relative}
.RapidArea .RapidBox .RapidBody .RapidLeft p label:after{content:':';position:absolute;right:10px}
.RapidArea .RapidBox .RapidBody .RapidLeft p span{margin:0;font-size:15px;font-weight:400}
.RapidArea .RapidBox .RapidBody .RapidRight{width:300px}
.RapidArea .RapidBox .RapidBody .RapidRight p{ font-size: 15px; font-weight: 500; margin: 0 0 5px; font-family: 'Roboto';}
.RapidArea .RapidBox .RapidBody .RapidResults{display:flex;align-items:center}
.RapidArea .RapidBox .RapidBody .RapidResults p{display:block;font-weight:500;color:#000;font-size:15px;font-family:"Roboto";text-transform:capitalize;min-width:210px}
.RapidArea .RapidBox .RapidBody .RapidResults label.CheckBox{min-width:300px}
.RapidArea .RapidBox .RapidBody .RapidResults .form-control{box-shadow:none;border:1px solid #c3c3c3;height:40px;font-size:14px;color:#000;line-height:22px;font-weight:400;font-family:"Roboto";max-width:300px}
.RapidArea .RapidBox .RapidBody .RapidResults h6{font-size:13px;font-weight:500;margin:0 0 0 20px}
.RapidArea .RapidBox .RapidBody .RapidResults button{border:none;padding:10px 20px;transition:0.5s all ease-in-out;font-weight:400;display:inline-block;background-color:#50a953;font-size:14px;color:#fff;border-radius:5px;min-width:300px;outline:0}
 
.BackArrow{text-align:right;margin:0 0 10px 0}
.BackArrow a{font-size:15px;color:#000;font-family:'Roboto'}
.BackArrow a i{margin:0 5px 0 0}
.BackArrow a:hover{color: #50a953;}

.TouristsView{border:5px solid #fff;box-shadow:0 10px 10px #ddd;position:relative}
.TouristsView iframe{width:100%;border:none;height:475px}

.TouristsBox{position:absolute;top:60%;left:50%}
.TouristsBox .TouristsInfo{background-color:#fff;padding:20px;box-shadow:0 3px 10px #a9a3a3;border-radius:5px;position:absolute;min-width:450px;bottom:60px;left:-225px}
.TouristsBox .TouristsInfo ul li{font-family:'Roboto';margin:0 0 10px 0}
.TouristsBox .TouristsInfo ul li label{margin:0 15px 0 0;font-size:15px;font-weight:500;color:#000;display:inline-block;min-width:160px;position:relative}
.TouristsBox .TouristsInfo ul li label:after{content:':';position:absolute;right:0}
.TouristsBox .TouristsInfo ul li span{margin:0;font-size:15px;font-weight:400}
.TouristsBox .TouristsInfo ul li span.Negative{color:#50a953;font-weight:500}
.TouristsBox .TouristsIcon{width:40px;height:40px;animation:shadow-pulse 2s infinite;border-radius:50%}
.TouristsBox .TouristsIcon span{animation:shadow-pulse 4s infinite;width:40px;height:40px;display:block;border-radius:50%;padding:8px}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgb(80 169 83);
        -webkit-box-shadow: 0 0 0 0px rgb(80 169 83);
        -moz-box-shadow: 0 0 0 0px rgba(245, 196, 0, 0.8);
        box-shadow: 0 0 0 0px rgb(80 169 83 / 79%);
    }

    100% {
        box-shadow: 0 0 0 35px rgb(245 196 0 / 0%);
        -webkit-box-shadow: 0 0 0 35px rgb(245 196 0 / 0%);
        -moz-box-shadow: 0 0 0 35px rgba(245, 196, 0, 0);
        box-shadow: 0 0 0 35px rgb(245 196 0 / 0%);
    }
}

.PasswordArea form{border-right:1px solid #ddd;padding:0 30px 0 0}
.PasswordArea form .form-group{margin:0 0 25px 0}
.PasswordArea form .form-group label{font-size:14px;color:#3c3c3c;text-transform:capitalize;font-weight:500;font-family: Roboto;display: block;}
.PasswordArea form .form-group .form-control{margin:0 0 0;border:1px solid #ddd;box-shadow:none;border-radius: 5px;padding: 10px 15px;height: auto;font-size: 17px;}
.PasswordArea form button{padding: 10px 40px;background-color: #31a235;text-transform:uppercase;color:#fff;font-size:15px;font-weight:500;letter-spacing:.5px;border-radius:0;cursor:pointer;border:none;outline:0;transition:0.5s all ease-in-out;}
.PasswordArea form button:hover{background-color: #31415e;}
 
.ModalBox .modal-dialog{max-width:450px;margin:50px auto}
.ModalBox .modal-dialog .CloseModal{position:absolute;top:-13px;right:-13px;width:26px;height:26px;background-color:#fff;border:2px solid rgba(0,0,0,.5);text-align:center;color:#000;font-size:15px;border-radius:50%}
.ModalBox .modal-dialog .Category{padding:10px 10px}
.ModalBox .modal-dialog .Category h3{text-align:center;font-weight:600;margin:0 0 20px 0;border-bottom:1px solid #ddd;padding:0 0 15px;font-size:23px}
.ModalBox .modal-dialog .Category .form-group{margin:0 0 20px;position:relative}
.ModalBox .modal-dialog .Category .form-group label{display:block;font-weight:500;color:#000;font-size:15px;font-family:"Roboto";text-transform:capitalize}
.ModalBox .modal-dialog .Category .form-group label sup{color:#b00;font-size:14px;top:-2px}
.ModalBox .modal-dialog .Category .form-group .form-control{box-shadow:none;border:1px solid #c3c3c3;height:40px;font-size:14px;color:#000;line-height:22px;font-weight:400;font-family:"Roboto"}
.ModalBox .modal-dialog .Category .form-group textarea.form-control{height:auto}
.ModalBox .modal-dialog .Category button.Button{ border: none; padding: 10px 30px; transition: 0.5s all ease-in-out; font-weight: 400; display: inline-block; background-color: #50a953; font-size: 14px; color: #fff; border-radius: 5px; margin-right: 5px; }
.ModalBox .modal-dialog .Category button.Button.Print{ background-color: #31415e; }

.ModuleTable table { border: 1px solid #dcdcdc; background-color: #fff; }
.ModuleTable table tr th,
.ModuleTable table tr td { padding: 10px 10px; } 
.ModuleTable table tr th { background-color: #dcdcdc; font-weight: 600; text-transform: capitalize; color: #000; font-size: 14px;  background-repeat: no-repeat; background-position: 96% 50%; }
.ModuleTable table tr td { font-weight: 500; color: #404040; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; vertical-align: top; }
.ModuleTable table tr td .CheckBox { text-align: right; }
.ModuleTable table tr td table { border: none; }
.ModuleTable table tr td table tr:last-child td{ border-bottom: none; }
.ModuleTable table tr td:nth-last-child(-n+5){ width: 100px;  }
.ModuleTable table tr td table td:nth-last-child(-n+5){ width: 100px;  }

app-rapid-tourists-add .SidenavBar ul li:nth-child(2) a ,
app-rapid-test-info .SidenavBar ul li:nth-child(2) a {background-color: rgb(52 125 243 / 5%);color: #347df3; border-color: #347df3;}
app-rapid-tourists-add .SidenavBar ul li:nth-child(2) a span,
app-rapid-test-info .SidenavBar ul li:nth-child(2) a span{ filter: inherit; opacity: 1; }

app-tourists-view .SidenavBar ul li:nth-child(3) a,
app-tourists-map .SidenavBar ul li:nth-child(3) a {background-color: rgb(52 125 243 / 5%);color: #347df3; border-color: #347df3;}

app-tourists-view .SidenavBar ul li:nth-child(3) a span,
app-tourists-map .SidenavBar ul li:nth-child(3) a span{ filter: inherit; opacity: 1; }

app-checkpoint-add .SidenavBar ul li:nth-child(4) a {background-color: rgb(52 125 243 / 5%);color: #347df3; border-color: #347df3;}
app-checkpoint-add .SidenavBar ul li:nth-child(4) a span{ filter: inherit; opacity: 1; }

app-manage-right-add .SidenavBar ul li:nth-child(5) a,
app-manage-right-edit .SidenavBar ul li:nth-child(5) a ,
app-manage-role-add .SidenavBar ul li:nth-child(5) a {background-color: rgb(52 125 243 / 5%);color: #347df3; border-color: #347df3;}

app-manage-right-add .SidenavBar ul li:nth-child(5) a span,
app-manage-right-edit .SidenavBar ul li:nth-child(5) a span,
app-manage-role-add .SidenavBar ul li:nth-child(5) a span{ filter: inherit; opacity: 1; }

app-manage-right-add .SidenavBar ul li:nth-child(5) .dropdown-menu li a,
app-manage-right-edit .SidenavBar ul li:nth-child(5) .dropdown-menu li a ,
app-manage-role-add .SidenavBar ul li:nth-child(5) .dropdown-menu li a{ background-color: transparent; color: #b7b7b7 !important;}




.ngx-pagination {
    margin: 15px 0 0 0px !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ngx-pagination li .show-for-sr{ display: none; }

.ngx-pagination li{
    margin: 0 10px;
}

.ngx-pagination li a{
    padding: 0;
}


.ngx-pagination li a:hover{
    background:transparent ;
}

.ngx-pagination li a span {
    padding: 0px 0;
    border: 2px solid #ddd;
    width: 35px;
    height: 35px;
    display: block;
    font-size: 14px;
    color: #656363;
    border-radius: 50%;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}


.ngx-pagination li a span:hover {
    background-color: #ddd;
    color: #000;
}

.ngx-pagination li.current {
    padding: 0;
    background: transparent;
}

.ngx-pagination li.current span {
    border-color: #50a953;
    background-color: #50a953;
    color: #fff;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
}











